/* @TODO: considder not using googlefonts to get the font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;

    --dark-1: #181818;
    --dark-2: #242424;
    --light-1: #fefefe;
    --red-1: #B42D2d;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: 'Roboto Mono', monospace;
}

/* ===== NAVBAR ==== */
nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--red-1);
    color: var(--light-1);
}
nav .left {
    align-self: center;
    margin-left: 10px;
    margin-right: auto;
}
nav a:not(.left) {
    margin-right: 20px;
    text-transform: uppercase;
}

nav a {
    color: var(--light-1);
    text-decoration: none;
    transition: all 0.2s ease;
}
nav a:hover {
    color: var(--dark-2);
}
/* ================= */



/* ===== CONTENT ===== */
main {
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    flex: 1;
    
    background-color: var(--dark-1);
    color: var(--light-1);
}
main a {
    color: var(--red-1);
}
main hr {
    border-color: var(--red-1);
}
main .fakelink {
    color: var(--red-1);
    text-decoration: underline;

    cursor: pointer;
}
main #date, main #location {
    color: var(--red-1);
}
main pre {
    background-color: var(--dark-2);
    overflow: scroll;
    padding: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 2px solid var(--red-1);
    border-radius: 10px;
}
main #title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    padding-right: 15px;
    max-width: 50vw;
    gap: 20px;
}
main #title:hover {
    background-color: var(--dark-2);
}
main #title > h2 {
    margin: 0;
    margin-left: 15px;
}
main #title > img {
    height: 30vw;
}
/* =================== */



/* ===== FOOTER ===== */
footer {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 2.5vh;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    
    background-color: var(--dark-2);
    color: var(--light-1);
}
footer a {
    color: var(--red-1);
}
/* ================== */
