<footer>
  <section>
    <strong>Source code for this website:</strong><br/>
    <a href="https://codeberg.org/marvhus/website" target="_blank">https://codeberg.org/marvhus/website</a>
  </section>
</footer>
