<nav>
  <a href="/index.html" class="left">marvhus.xyz</a>
  <a href="/index.html">about</a>
  <a href="/projects.html">projects</a>
  <a href="/articles.html">articles</a>
  <a href="/pictures.html">pictures</a>
  <a href="/contact.html">contact</a>
</nav>
