<main>
    <h1>GameMaker Beta on Arch Linux</h1>
    <p id="date">2023-11-21</p>

    <hr><br>

    So after GameMaker recently making exports to Destop, Web, and Mobile free,
    and moving from a subscription model to a perpetual licence recently, I decided to try it out.
    <br>

    After some reading I found out that the beta version supports Ubuntu... and I am on Arch. But that won't stop me.
    <br><br>

    <h2>Installing dependencies</h2>
    An article I found listed these dependencies for Ubuntu:
<pre><code>build-essential, openssh-server, clang,
libssl-dev, libxrandr-dev, ibxxf86vm-dev,
libopenal-dev, libgl1-mesa-dev, libglu1-mesa-dev,
zlib1g-dev, libcurl4-openssl-dev, ffmpeg, libfuse2, curl</code></pre>
    <br>
    And the Arch equivalent of these are:
<pre><code>base-devel, openssh, clang, openssl,
libxrandr, libxxf86vm, openal, mesa,
zlib, libcurl-compat, ffmpeg, fuse, curl</code></pre>
    <br>
    They can be installed using the following command: <br>
    <pre><code>sudo pacman -S base-devel openssh clang openssl libxrandr libxxf86vm openal mesa zlib libcurl-compat ffmpeg fuse curl</code></pre>
    <br><br>

    <h2>The Steam Runntimes</h2>
    Next you need to get the steam runtimes. You can create the directory for it with this command: <br>
    <pre><code>sudo mkdir /opt/steam-runtime/</code></pre>
    <br>
    And you can download it using this command: <br>
    <pre><code>curl https://repo.steampowered.com/steamrt-images-scout/snapshots/latest-steam-client-general-availability/com.valvesoftware.SteamRuntime.Sdk-amd64,i386-scout-sysroot.tar.gz | sudo tar -xzf - -C /opt/steam-runtime/</code></pre>
    <br><br>

    <h2>Install Linuxdeploy</h2>
    You can download it using this command: <br>
    <pre><code>wget https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage</code></pre>
    <br>
    Then you can install it using this command:
    <pre><code>sudo install -m 0755 linuxdeploy-x86_64.AppImage /usr/local/bin/linuxdeploy</code></pre>
    <br><br>

    <h2>Install AppImage build tool</h2>
    You can download it using this command: <br>
    <pre><code>wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage</code></pre>
    <br>
    You can install it using this command: <br>
    <pre><code>sudo install -m 0755 appimagetool-x86_64.AppImage /usr/local/bin/appimagetool</code></pre>
    <br><br>

    <h2>Installing GameMaker Beta</h2>
    You will need to download the .deb file from the
    <a href="https://gamemaker.io/en/download" target="_blank">GameMaker Website</a>.
    Now you need to download debtap if you haven't. You can do this using this command: <br>
    <pre><code>sudo pacman -S debtap</code></pre>
    <br>
    Now you may need to update the debtap database using this command: <br>
    <pre><code>sudo debtap -u</code></pre>
    <br>
    You can now create the package file using this command: <br>
    <pre><code>debtap &lt;name of file&gt;</code></pre>
    <br>
    (replace &lt;name of file&gt; with the name of the .deb file)
    <br>
    Now that it has created the package file you can use this command: <br>
    <pre><code>sudo pacman -U &lt;name of file&gt;</code></pre>
    <br>
    If you don't know the name of the file, it should be in the directory you are in.
    And you can find all the package files in your directory using this command: <br>
    <pre><code>ls *.pkg*</code></pre>
    <br><br>

    <h2>Notes</h2>
    GameMaker Beta should be located in <code>/opt/GameMaker-Beta</code>
    and it should have created a desktop file in <code>/usr/share/applications</code>.
    <br>
    If you want the binary to be in your path you either have to add the 
    <code>/opt/GameMaker-Beta</code> directory to your path, or you can create a script to run it:
    <br>
    <pre><code>#!/usr/bin/bash
/opt/GameMaker-Beta/GameMaker</code></pre>
</main>
