<main>
    <h1>New Website Design!</h1>
    <p id="date">2024-05-09</p>

    <hr><br>

    As the title implies, I just redesigned my website,
    thugh it isn't really a new design, I already used it for my
    <a target="_blank" href="https://projects.marvhus.xyz">projects website</a>.
    But it is a new design for my main website, and I did make a few modifications to it.
    <br><br>
    The new design is more simple, and no longer requires any javascript,
    so you can even look at it from your terminal, if you want.

    <br><br>

    The previous design used JavaScript and iframes to put the various pages inside the same page.
    I did this so I have to write the same head, nav bar, and footer for every page,
    without needing to edit every page if I needed to update it.
    <br>
    The new design uses a template head, nav bar, and footer, and I have all the pages stored seperatly.
    Then I just generate the full HTML files, additionally, I have put what is accessible on the website in a seperate
    branch in the Codeberg repo so it only serves the stuff related to the website and not the code I have written
    to handle generating it, syncing it, etc.
</main>
