<main>
    <h1>Articles</h1>
    <hr><br>

    Here are some articles I have written about things I care about.
    I don't write a lot of articles, but I write stuff from time to time.

    <br><br>


    <div id="title">
        <h2><a href="/articles/new-design-2024-05-09.html">New Website Design!</a></h2>
        <p id="date">2024-05-09</p>
    </div>
    <br>


    <div id="title">
        <h2><a href="/articles/gamemaker-beta-arch.html">GameMaker Beta on Arch Linux</a></h2>
        <p id="date">2023-11-21</p>
    </div>
    <br>

</main>
