<main>
    <h1>Contact</h1>
    <hr><br>
    Here is some of my contact info, and some other stuff in case you want to get in contact with me.

    <br><br>


    <div id="title">
        <h2>E-Mail</h2>
        <a target="_blank" href="mailto:martin@marvhus.xyz">martin@marvhus.xyz</a>
    </div>
    <br><br>


    <div id="title">
        <h2>Matrix</h2>
        <a target="_blank" href="https://matrix.to/#/@mart_hus:matrix.org">@mart_hus:matrix.org</a>
    </div>
    <br><br>


    <div id="title">
        <h2>Discord</h2>
        <a target="_blank" href="https://discord.com/app">@marvhus</a>
    </div>
    <br><br>


    <div id="title">
        <h2>GPG Public Key</h2>
        <a target="_blank" href="marvhus.gpg">marvhus.gpg</a>
    </div>
    <br><br>


    <div id="title">
        <h2>Location</h2>
        <!-- :) -->
        <p class="fakelink">somewhere in Norway</p>
    </div>
    <br><br>

</main>
