<main>
    <h1>About</h1>
    <hr><br>

    Hello, There! I'm Martin, but you may know me as marvhus.
    Wellcome to my corner of the web.
    I am a programmer, at work, and at home.
    In my spare time I make all kinds of things, in all kinds of languages.
    Some of the ones I use the most are: C, Rust, Python, Haskell, and Jai.
    The code I write in my spare time is mostly Free and Open Source,
    so you can find it on
    <a target="_blank" href="https://github.com/marvhus">my GitHub account</a>,
    <a target="_blank" href="https://codeberg.org/marvhus">my Codeberg account</a>, or
    <a target="_blank" href="https://git.sr.ht/~marvhus">my Sourcehut account</a>.
    <br><br>

    Feel free to explore my website, it isn't much, but it includes some of my projects,
    some small articles I have written, and some contact info in case you want to get in touch with me.
</main>
