<main>
    <h1>Pictures</h1>
    <hr><br>

    Here are some pictures I have taken that I've decided to share with the world.
    You can use these photos as long as you follow the requirements of the 
    <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 licence</a>.

    <br><br>

    <div id="title">
        <img
            loading="lazy"
            alt="Image of Norwegian landscape"
            src="/pictures/nature/2024-05-24--Aurland.jpg"
        ></img>
        <div>
            <strong>Date</strong> <p id="date">2024-05-24</p>
            <br>
            <strong>Location</strong> <p id="location">Aurland, Norway</p>
        </div>
    </div>
</main>
