<main>
    <h1>Projects</h1>
    <hr><br>

    Here is a short list of my personal projects. You can find more of my projects on
    <a target="_blank" href="https://github.com/marvhus">my GitHub account</a>,
    <a target="_blank" href="https://codeberg.org/marvhus">my Codeberg account</a>, or
    <a target="_blank" href="https://git.sr.ht/~marvhus">my Sourcehut account</a>.
    <br><br>

    If you want to see more info on my larger projects, you can look at my
    <a target="_blank" href="https://projects.marvhus.xyz">my projects website</a>.
    Though I haven't added a lot of information there as of writing this, and the information
    on there may be outdated when compared against the current source code, so in some cases
    it may be best to just look at the project istelf.

    <br><br><br>


    <div id="title">
        <h2><a target="_blank" href="https://git.sr.ht/~marvhus/circle_cipher">circle cipher</a></h2>
    </div>
    A cipher of my own creation with implementations in a few different languages so you can easily include it in your project.
    <br><br>


    <div id="title">
        <h2><a target="_blank" href="https://github.com/marvhus/jacr">jacr</a></h2>
    </div>
    A commandline cryptography tool that I am writing in Jai.
    <br><br>


    <div id="title">
        <h2><a target="_blank" href="https://github.com/marvhus/at-notes">@Notes</a></h2>
    </div>
    A commandline utillity tool for finding all notes in a
    source file. It looks inside C-like comments,
    and looks for words that start with an @ and tells you the ones it found.
    <br><br>
    This was originally a tool written in Rust called Todoer
    that I made a few months ago, but I decided to remake it
    using Jai.
    <br><br>


    <div id="title">
        <h2><a target="_blank" href="https://codeberg.org/marvhus/typer">Typer</a></h2>
    </div>
    A tool written in Rust to type in Emacs or Vim for you.
    You give it a file that tells it what to do, and it will do it. 
    For example you can tell it to go to a specific line, 
    write some text as a new line, append or prepend text to a line, 
    delete a line, and more.
    <br><br>
    I made it as a tool for writing out code for video presentations,
    but it can be used for other things too.
    <br><br>


    <div id="title">
        <h2><a target="_blank" href="https://github.com/SSGorg/Cryptex">Cryptex</a></h2>
    </div>
    A cryptography tool that I wrote with some other developers back
    in 2022. It is written in Python and includes a plethora of
    ciphers, and some other things too.
    <br><br>

</main>
